<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org" >
<head th:include="frame :: head">


</head>

<!--<body onload="initCalender()">-->
<body>

<script>
    var map={
        key1:'abc',
        key2:'def'
    };
    var edit_count=0;
    function editForm(object)
    {
        /*
        textvalue_projectName = document.getElementById("projectName").outerHTML;
        map[input_id] = document.getElementById(input_id).outerHTML;
         */
        var input_id = object.name;


        document.getElementById(input_id).style.display="none";
        document.getElementById("input_"+input_id).style.display="inline";
        document.getElementById("input_"+input_id).removeAttribute("disabled");

        document.getElementById("cancel_button_"+input_id).style.display="inline";
        document.getElementById("edit_button_"+input_id).style.display="none";
        edit_count++;
        if(edit_count>0)
        {
            $("#form_submmit").removeAttr("disabled");
        }
/*        document.getElementById(input_id).outerHTML="<input id='" +
                input_id +
                "' name='" +
                input_id +
                "' type='text'/>";
        document.getElementById("edit_button_"+input_id).outerHTML="<a id='edit_button_" +
                input_id +
                "' name='" +
                input_id +
                "' class='btn btn-default btn-sm' href='#'  onclick='cancelForm(this)'><i class='glyphicon glyphicon-remove-sign'></i> 取消</a>";*/

    }

    function cancelForm(object)
    {
/*


        document.getElementById(input_id).outerHTML=map[input_id];
 */
        var input_id = object.name;

        document.getElementById(input_id).style.display="inline";
        document.getElementById("input_"+input_id).style.display="none";
        document.getElementById("input_"+input_id).setAttribute("disabled","disabled");

        document.getElementById("cancel_button_"+input_id).style.display="none";
        document.getElementById("edit_button_"+input_id).style.display="inline";

        edit_count--;
        if(edit_count<=0)
        {
            document.getElementById("form_submmit").setAttribute("disabled","disabled");

        }
        /*document.getElementById("edit_button_"+input_id).outerHTML="<a id='edit_button_" +
                input_id +
                "' name='" +
                input_id +
                "' class='btn btn-default btn-sm' href='#'  onclick='editForm(this)'><i class='glyphicon glyphicon-cog'></i> 修改</a>";*/
    }

    /*function   initCalender()
    {
        $('#input_requirementsReceivedDate').dcalendarpicker({
            format:'yyyy-mm-dd'
        });
        $('#input_jointDebugDate').dcalendarpicker({
            format:'yyyy-mm-dd'
        });

    }
    $('#input_requirementsReceivedDate').dcalendarpicker({
        format:'yyyy-mm-dd'
    });
    $('#input_jointDebugDate').dcalendarpicker({
        format:'yyyy-mm-dd'
    });
    $('#mycalendar').dcalendar();*/


    $( function() {

        $( "#input_requirementsReceivedDate" ).datepicker({
            dateFormat: "yy-mm-dd"
        });

        $( "#input_jointDebugDate" ).datepicker({
            dateFormat: "yy-mm-dd"
        });
    } );

</script>
<!-- topbar starts -->
<div th:substituteby="frame :: navbar">

    template-navbar
</div>

<!--calender start-->
<table id='mycalendar' class='calendar'></table>
<!--calender end-->
<!-- topbar ends -->
<div class="ch-container">
    <div class="row">

        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="index.html"><i
                                class="glyphicon glyphicon-home"></i><span> 我的项目</span></a>
                        </li>
                        <li><a class="ajax-link" href="ui.html"><i
                                class="glyphicon glyphicon-eye-open"></i><span> 全部项目</span></a>
                        </li>
                        <li><a class="ajax-link" href="form.html"><i
                                class="glyphicon glyphicon-edit"></i><span> 修改信息</span></a></li>

                        <li><a href="login.html"><i class="glyphicon glyphicon-lock"></i><span> Login Page</span></a>
                        </li>
                    </ul>
                    <label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a >主页</a>
                    </li>
                    <li>
                        <a >我的项目</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-list"></i> 项目详情</h2>

                            <div class="box-icon">
                                <a  class="btn btn-setting btn-round btn-default"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                                <a  class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a  class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <form id="loginform" class="form-horizontal" method="post" th:action="@{'/update/'+${projectInfo.id}}">
                                <fieldset>
                                    <ul class="dashboard-list">
                                        <li>
                                            <a >
                                                <span class="green list-title">需求名称</span>
                                                <span class="green" id="projectName" th:style="(${action}=='view')?'display:inline':'display:none'" th:text="${projectInfo.projectName}?:'无'" >项目名称</span>
                                            </a>
                                            <input type="text" id="input_projectName" name="projectName" style="display:inline"
                                                   th:if="(${action=='view'})"
                                                   th:style="'display:none'" th:disabled="disabled" />
                                            <input type="text" id="input_projectName" name="projectName"
                                                   th:if="(${action=='edit'})" th:value="${projectInfo.projectName}"/>

                                            <a id="edit_button_projectName"  name="projectName" class="btn btn-default btn-sm"   onclick="editForm(this)" th:style="(${action}=='view')?'display:inline':'display:none'"><i
                                                    class="glyphicon glyphicon-cog"></i> 修改</a>
                                            <a id="cancel_button_projectName" name="projectName" class="btn btn-default btn-sm"   onclick="cancelForm(this)" style="display: none"><i
                                                    class="glyphicon glyphicon-remove-sign"></i> 取消</a>
                                        </li>
                                        <li>
                                            <a >
                                                <span class="green list-title">一级项目</span>
                                                <span class="green" id="parentProjectInfo" th:style="(${action}=='view')?'display:inline':'display:none'" th:text="${projectInfo.parentProjectInfo}?(${projectInfo.parentProjectInfo.parentProjectName}?:'无'):'无'" >一级项目名称</span>
                                            </a>

                                            <select id="input_parentProjectInfo" name="parentProjectId"
                                                    th:if="(${action}=='view')"
                                                    th:style="'display:none'" th:disabled="disabled"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="parentProjectInfo : ${parentProjectInfoList}" th:value="${parentProjectInfo.getId()}" th:selected="(${parentProjectInfo}==${projectInfo.parentProjectId})"
                                                    th:text="${parentProjectInfo.parentProjectName}">一级项目名称</option>
                                            </select>

                                            <select id="input_parentProjectInfo" name="parentProjectId"
                                                    th:if="(${action}=='edit')"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="parentProjectInfo : ${parentProjectInfoList}" th:value="${parentProjectInfo.getId()}" th:selected="(${parentProjectInfo}==${projectInfo.parentProjectId})"
                                                        th:text="${parentProjectInfo.parentProjectName}">一级项目名称</option>
                                            </select>

                                            <a id="edit_button_parentProjectInfo" name="parentProjectInfo" class="btn btn-default btn-sm"   onclick="editForm(this)" th:style="(${action}=='view')?'display:inline':'display:none'"><i
                                                    class="glyphicon glyphicon-cog"></i> 修改</a>
                                            <a id="cancel_button_parentProjectInfo" name="parentProjectInfo" class="btn btn-default btn-sm"   onclick="cancelForm(this)" style="display: none"><i
                                                    class="glyphicon glyphicon-remove-sign"></i> 取消</a>


                                        </li>
                                        <li>
                                            <a >
                                                <span class="green list-title">项目类型</span>
                                                <span class="green" id="projectType" th:style="(${action}=='view')?'display:inline':'display:none'" th:with="index=${projectInfo.projectType}" th:text="(${index} != null)?(${projectTypeList[index].desc}):'无'" >紧急</span>
                                            </a>
                                            <select id="input_projectType" name="projectType"
                                                    th:if="(${action}=='view')"
                                                    th:style="'display:none'" th:disabled="disabled"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="projectType : ${projectTypeList}" th:value="${projectType.order}" th:selected="(${projectType.order}==${projectInfo.projectType})"
                                                        th:text="${projectType.desc}">项目类型</option>
                                            </select>
                                            <select id="input_projectType" name="projectType"
                                                    th:if="(${action}=='edit')"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="projectType : ${projectTypeList}" th:value="${projectType.order}" th:selected="(${projectType.order}==${projectInfo.projectType})"
                                                        th:text="${projectType.desc}">项目类型</option>
                                            </select>
                                            <a id="edit_button_projectType" name="projectType" class="btn btn-default btn-sm"   onclick="editForm(this)" th:style="(${action}=='view')?'display:inline':'display:none'"><i
                                                    class="glyphicon glyphicon-cog"></i> 修改</a>
                                            <a id="cancel_button_projectType" name="projectType" class="btn btn-default btn-sm"   onclick="cancelForm(this)" style="display: none"><i
                                                    class="glyphicon glyphicon-remove-sign"></i> 取消</a>

                                        </li>
                                        <li>
                                            <a >
                                                <span class="green list-title">处理状态</span>
                                                <span class="green" id="handleState" th:style="(${action}=='view')?'display:inline':'display:none'" th:with="index=${projectInfo.handleState}" th:text="(${index} != null)?(${handleStateTypeList[index].desc}):'无'" >处理状态</span>
                                            </a>
                                            <select id="input_handleState" name="handleState"
                                                    th:if="(${action}=='view')"
                                                    th:style="'display:none'" th:disabled="disabled"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="handleStateType : ${handleStateTypeList}" th:value="${handleStateType.order}" th:selected="(${handleStateType.order}==${projectInfo.handleState})"
                                                        th:text="${handleStateType.desc}">项目类型</option>
                                            </select>
                                            <select id="input_handleState" name="handleState"
                                                    th:if="(${action}=='edit')"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="handleStateType : ${handleStateTypeList}" th:value="${handleStateType.order}" th:selected="(${handleStateType.order}==${projectInfo.handleState})"
                                                        th:text="${handleStateType.desc}">项目类型</option>
                                            </select>
                                            <a id="edit_button_handleState" name="handleState" class="btn btn-default btn-sm"   onclick="editForm(this)" th:style="(${action}=='view')?'display:inline':'display:none'"><i
                                                    class="glyphicon glyphicon-cog"></i> 修改</a>
                                            <a id="cancel_button_handleState" name="handleState" class="btn btn-default btn-sm"   onclick="cancelForm(this)" style="display: none"><i
                                                    class="glyphicon glyphicon-remove-sign"></i> 取消</a>

                                        </li>
                                        <li>
                                            <a >
                                                <span class="green list-title">工作量</span>
                                                <span class="green" id="workload" th:style="(${action}=='view')?'display:inline':'display:none'" th:text="${{projectInfo.workload}}?:'-'" >工作量</span>
                                            </a>
                                            <input type="text" id="input_workload" name="workload"
                                                   th:if="(${action}=='view')"
                                                   th:style="'display:none'" th:disabled="disabled" placeholder="人天"/>
                                            <input type="text" id="input_workload" name="workload"
                                                   th:if="(${action}=='edit')"
                                                   th:value="${{projectInfo.workload}}" placeholder="人天"/>

                                            <a id="edit_button_workload"  name="workload" class="btn btn-default btn-sm"   onclick="editForm(this)" th:style="(${action}=='view')?'display:inline':'display:none'"><i
                                                    class="glyphicon glyphicon-cog"></i> 修改</a>
                                            <a id="cancel_button_workload" name="workload" class="btn btn-default btn-sm"   onclick="cancelForm(this)" style="display: none"><i
                                                    class="glyphicon glyphicon-remove-sign"></i> 取消</a>

                                        </li>
                                        <li>
                                            <a >
                                                <span class="green list-title">收到需求时间</span>
                                                <span class="green" id="requirementsReceivedDate" th:style="(${action}=='view')?'display:inline':'display:none'" th:text="${{projectInfo.requirementsReceivedDate}}?:'-'" >收到需求时间</span>
                                            </a>
                                            <input type="text" id="input_requirementsReceivedDate" name="requirementsReceivedDate"
                                                   th:if="(${action}=='view')"
                                                   th:style="'display:none'" th:disabled="disabled"/>
                                            <input type="text" id="input_requirementsReceivedDate" name="requirementsReceivedDate"
                                                   th:if="(${action}=='edit')" th:value="${{projectInfo.requirementsReceivedDate}}?:''"/>

<!--                                            th:value="${{projectInfo.requirementsReceivedDate}}?:''"-->
                                            <a id="edit_button_requirementsReceivedDate"  name="requirementsReceivedDate" class="btn btn-default btn-sm"   onclick="editForm(this)" th:style="(${action}=='view')?'display:inline':'display:none'"><i
                                                    class="glyphicon glyphicon-cog"></i> 修改</a>
                                            <a id="cancel_button_requirementsReceivedDate" name="requirementsReceivedDate" class="btn btn-default btn-sm"   onclick="cancelForm(this)" style="display: none"><i
                                                    class="glyphicon glyphicon-remove-sign"></i> 取消</a>                                            </a>
                                        </li>
                                        <li>
                                            <a >
                                                <span class="green list-title">外部任务书状态</span>
                                                <span class="green" id="externalTaskState" th:style="(${action}=='view')?'display:inline':'display:none'" th:with="index=${projectInfo.externalTaskState}" th:text="(${index} != null)?(${externalTaskStateTypeList[index].desc}):'无'" >外部任务书状态</span>
                                            </a>
                                            <select id="input_externalTaskState" name="externalTaskState"
                                                    th:if="(${action}=='view')"
                                                    th:style="'display:none'" th:disabled="disabled"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="externalTaskStateType : ${externalTaskStateTypeList}" th:value="${externalTaskStateType.order}" th:selected="(${externalTaskStateType.order}==${projectInfo.externalTaskState})"
                                                        th:text="${externalTaskStateType.desc}">内部任务书状态</option>
                                            </select>
                                            <select id="input_externalTaskState" name="externalTaskState"
                                                    th:if="(${action}=='edit')"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="externalTaskStateType : ${externalTaskStateTypeList}" th:value="${externalTaskStateType.order}" th:selected="(${externalTaskStateType.order}==${projectInfo.externalTaskState})"
                                                        th:text="${externalTaskStateType.desc}">内部任务书状态</option>
                                            </select>
                                            <a id="edit_button_externalTaskState" name="externalTaskState" class="btn btn-default btn-sm"   onclick="editForm(this)" th:style="(${action}=='view')?'display:inline':'display:none'"><i
                                                    class="glyphicon glyphicon-cog"></i> 修改</a>
                                            <a id="cancel_button_externalTaskState" name="externalTaskState" class="btn btn-default btn-sm"   onclick="cancelForm(this)" style="display: none"><i
                                                    class="glyphicon glyphicon-remove-sign"></i> 取消</a>
                                        </li>
                                        <li>
                                            <a >
                                                <span class="green list-title">内部任务书状态</span>
                                                <span class="green" id="internalTaskState" th:style="(${action}=='view')?'display:inline':'display:none'" th:with="index=${projectInfo.internalTaskState}" th:text="(${index} != null)?(${internalTaskStateTypeList[index].desc}):'无'" >内部任务书状态</span>
                                            </a>
                                            <select id="input_internalTaskState" name="internalTaskState"
                                                    th:if="(${action}=='view')"
                                                    th:style="'display:none'" th:disabled="disabled"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="internalTaskStateType : ${internalTaskStateTypeList}" th:value="${internalTaskStateType.order}" th:selected="(${internalTaskStateType.order}==${projectInfo.internalTaskState})"
                                                        th:text="${internalTaskStateType.desc}">外部任务书状态</option>
                                            </select>
                                            <select id="input_internalTaskState" name="internalTaskState"
                                                    th:if="(${action}=='edit')"
                                                    size="1" aria-controls="DataTables_Table_0">
                                                <option th:each="internalTaskStateType : ${internalTaskStateTypeList}" th:value="${internalTaskStateType.order}" th:selected="(${internalTaskStateType.order}==${projectInfo.internalTaskState})"
                                                        th:text="${internalTaskStateType.desc}">外部任务书状态</option>
                                            </select>
                                            <a id="edit_button_internalTaskState" name="internalTaskState" class="btn btn-default btn-sm"   onclick="editForm(this)" th:style="(${action}=='view')?'display:inline':'display:none'"><i
                                                    class="glyphicon glyphicon-cog"></i> 修改</a>
                                            <a id="cancel_button_internalTaskState" name="internalTaskState" class="btn btn-default btn-sm"   onclick="cancelForm(this)" style="display: none"><i
                                                    class="glyphicon glyphicon-remove-sign"></i> 取消</a>
                                        </li>
                                        <li>
                                            <a >
                                                <span class="green list-title">计划联调时间</span>
                                                <span class="green" id="jointDebugDate" th:style="(${action}=='view')?'display:inline':'display:none'" th:text="${{projectInfo.jointDebugDate}}?:'-'" >计划联调时间</span>
                                            </a>
                                            <input type="text" id="input_jointDebugDate" name="jointDebugDate"
                                                   th:if="(${action}=='view')"
                                                   th:style="'display:none'" th:disabled="disabled"/>
                                            <input type="text" id="input_jointDebugDate" name="jointDebugDate"
                                                   th:if="(${action}=='edit')"
                                                   th:value="${{projectInfo.jointDebugDate}}?:''"/>
                                            <a id="edit_button_jointDebugDate"  name="jointDebugDate" class="btn btn-default btn-sm"   onclick="editForm(this)" th:style="(${action}=='view')?'display:inline':'display:none'"><i
                                                    class="glyphicon glyphicon-cog"></i> 修改</a>
                                            <a id="cancel_button_jointDebugDate" name="jointDebugDate" class="btn btn-default btn-sm"   onclick="cancelForm(this)" style="display: none"><i
                                                    class="glyphicon glyphicon-remove-sign"></i> 取消</a>                                            </a>
                                        </li>
                                        <!--li>
                                            <button id="form_submmit" type="submit" class="btn btn-default"
                                                    th:if="(${action}=='view')"
                                                    th:disabled="disabled">Submit</button>
                                        </li-->
                                    </ul>
                                    <ul>
                                        <p class="left-block download-buttons">
                                            <a  onClick="javascript:history.back(-1);" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-chevron-left glyphicon-white"></i> 返回</a>
                                            <button id="form_submmit" type="submit" class="btn btn-default btn-lg"
                                                    th:if="(${action}=='view')"
                                                    th:disabled="disabled">提交修改</button>
                                            <button id="form_submmit" type="submit" class="btn btn-default btn-lg"
                                                    th:if="(${action}=='edit')">提交修改</button>
                                            <!--a href="http://usman.it/free-responsive-admin-template/" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-download-alt"></i> 提交修改</a-->
                                        </p>
                                    <ul>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>


                <!--/span-->

                <!--/div--><!--/row-->


            </div>
            <!--/span-->

            <!--/div--><!--/row-->


            <!--/div--><!--/span-->

            <!-- content ends -->
        </div><!--/#content.col-md-0-->
    </div><!--/fluid-row-->


    <hr>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a  class="btn btn-default" data-dismiss="modal">Close</a>
                    <a  class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="row" th:substituteby="frame :: footer">
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="js/charisma.js"></script>


</body>
</html>
