<configuration debug="on" monitorInterval="1800">
    <Properties>
        <Property name="log-path">${sys:catalina.home}/logs/spring</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %class{36}.%M()/%L - %msg%xEx%n" />
        </Console>
        <File name="app_debug" fileName="${log-path}/debug.log" append="false">
            <Filters>spring
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %class{36}.%M()/%L - %msg%xEx%n"/>
        </File>
        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="app_info" fileName="${log-path}/rolling.log"
                     filePattern="${log-path}/app-%d{yyyyMMddHHmmssSSS}.log.gz">
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %class{36}.%M()/%L - %msg%xEx%n"/>

            <!-- 日志文件大小 -->
            <SizeBasedTriggeringPolicy size="20MB" />
            <!-- 最多保留文件数 -->
            <DefaultRolloverStrategy max="20"/>
            <Filters>
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="NEUTRAL"/>

            </Filters>
        </RollingFile>

        <!--<File name="app_info" fileName="${log-path}/info.log" append="false">-->
            <!--<Filters>-->
                <!--<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
                <!--<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
                <!--<ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
                <!--<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
                <!--<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->
                <!--<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="NEUTRAL"/>-->

            <!--</Filters>-->
            <!--<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %class{36}.%M()/%L - %msg%xEx%n"/>-->
        <!--</File>-->
        <File name="app_error" fileName="${log-path}/error.log" append="false">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %class{36}.%M()/%L - %msg%xEx%n"/>
        </File>
    </Appenders>
    <!--重要-->

    <Loggers>
        <Logger name="com.future" level="info" additivity="true">
<!--
            <appender-ref ref="Console"/>
-->
            <appender-ref ref="app_debug"/>
            <appender-ref ref="app_info"/>
            <appender-ref ref="app_error"/>
        </Logger>
        <logger name="org.springframework.core" level="debug" additivity="true" >
            <appender-ref ref="app_info"/>
        </logger>
        <logger name="org.springframework.context" level="debug"  additivity="true">
            <appender-ref ref="app_info"/>
        </logger>
        <logger name="org.springframework.web" level="debug" additivity="true" >
            <appender-ref ref="app_info"/>
        </logger>
        <logger name="org.springframework.amqp" level="info" additivity="true" >
            <appender-ref ref="app_info"/>
        </logger>
        <logger name="org.apache.http" level="debug"  additivity="true">
            <appender-ref ref="app_info"/>
        </logger>
        <logger name="java.sql.Connection" level="debug"  additivity="true">
            <appender-ref ref="app_debug"/>
            <appender-ref ref="app_info"/>
            <appender-ref ref="app_error"/>        </logger>
        <logger name="java.sql.Statement" level="debug"  additivity="true">
            <appender-ref ref="app_debug"/>
            <appender-ref ref="app_info"/>
            <appender-ref ref="app_error"/>        </logger>
        <logger name="java.sql.ResultSet" level="debug"  additivity="true">
            <appender-ref ref="app_debug"/>
            <appender-ref ref="app_info"/>
            <appender-ref ref="app_error"/>
        </logger>
        <logger name="java.sql.PreparedStatement" level="debug"  additivity="true">
            <appender-ref ref="app_debug"/>
            <appender-ref ref="app_info"/>
            <appender-ref ref="app_error"/>
        </logger>
        <logger name="com.ibatis" level="debug"  additivity="true">
            <appender-ref ref="app_debug"/>
            <appender-ref ref="app_info"/>
            <appender-ref ref="app_error"/>
        </logger>
        <root level="debug">
            <appender-ref ref="Console" />
        </root>
    </Loggers>
</configuration>
